<app-basic-layout>
  <h2 class="title">Frequently Asked Questions</h2>
  <p>If you can't find the answer you're looking for, please contact our <span style="font-weight: 600;">live support service</span>.</p>

  <div class="accordion" id="accordionExample">
    <!-- How can I book an appointment? -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          How can I book an appointment?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
           data-bs-parent="#accordionExample">
        <div class="accordion-body">
          You can book an appointment online via our website's appointment system. You can also call our hospital to make an appointment by phone.
        </div>
      </div>
    </div>

    <!-- How to cancel an appointment? -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How do I cancel an appointment?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
           data-bs-parent="#accordionExample">
        <div class="accordion-body">
          You can cancel your appointment by logging into your account on our website or by calling our call center.
        </div>
      </div>
    </div>

    <!-- How long does an appointment take? -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How long is an appointment?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
           data-bs-parent="#accordionExample">
        <div class="accordion-body">
          A standard appointment takes approximately 15 minutes. However, this may vary depending on your doctor's schedule.
        </div>
      </div>
    </div>

    <!-- How can I get to your hospital? -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingNine">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          How can I get to your hospital?
        </button>
      </h2>
      <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
           data-bs-parent="#accordionExample">
        <div class="accordion-body">
          You can find detailed address information and our location map on our Contact page.
        </div>
      </div>
    </div>

    <!-- Do you provide services in all departments? -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Do you provide services in all departments?
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
           data-bs-parent="#accordionExample">
        <div class="accordion-body">
          You can visit the MEDICAL DEPARTMENTS page from the top menu of our website to see the departments we serve.
        </div>
      </div>
    </div>

    <!-- What do I need to log in? -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          What do I need to log in?
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
           data-bs-parent="#accordionExample">
        <div class="accordion-body">
          To log into our system, you can use your username and password on our website.
        </div>
      </div>
    </div>

    <!-- Suggestions and complaints -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Where can I send suggestions or complaints?
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
           data-bs-parent="#accordionExample">
        <div class="accordion-body">
          You can send your suggestions and complaints by filling out the form on our Contact page or by calling our call center.
        </div>
      </div>
    </div>
  </div>
</app-basic-layout>
