<div class="d-flex">
  <app-admin-sidebar></app-admin-sidebar>

  <div class="flex-grow-1 p-3">
    <div class="col-md-12">
      <app-token></app-token>
      <div class="card mt-5">
        <div class="card-header">
          <h2 class="text-center text-primary mb-4">DOCTORS</h2>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="input-group mr-3">
              <span class="input-group-text">
                <i class="bi bi-search"></i>
              </span>
              <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
                     placeholder="Doctor name" />
            </div>

            <div>
              <button class="btn btn-success" [routerLink]="['/admin-add-doctor']">
                Add Doctor
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="thead-primary">
              <tr>
                <th scope="col" style="width: 15%">Doctor Name</th>
                <th scope="col" style="width: 5%">Title</th>
                <th scope="col" style="width: 15%">School</th>
                <th scope="col" style="width: 20%">Date of Birth</th>
                <th scope="col" style="width: 10%">National ID</th>
                <th scope="col" style="width: 10%">Address</th>
                <th scope="col" style="width: 10%">Phone Number</th>
                <th scope="col" style="width: 10%">Email</th>
                <th scope="col" style="width: 10%">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let doctor of doctors | filterDoctorName: filterText">
                <td>
                  {{ doctor.firstName | CapitalizeFirst }}
                  {{ doctor.lastName | CapitalizeFirst }}
                </td>
                <td>{{ doctor.title }}</td>
                <td>{{ doctor.schoolName }}</td>
                <td>{{ doctor.dateOfBirth }}</td>
                <td>{{ doctor.nationalIdentity }}</td>
                <td>{{ doctor.address }}</td>
                <td>{{ doctor.phone }}</td>
                <td>{{ doctor.email }}</td>
                <td class="text-center">
                  <div class="btn-group" role="group">
                    <button class="btn btn-sm btn-primary" [routerLink]="['/admin-update-doctor', doctor.id]">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="confirmDelete(doctor.id)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <app-pagination [totalPages]="totalPages" [pageIndex]="pageIndex" [pageSize]="pageSize"
                            (pageChange)="onPageChanged($any($event))"></app-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
